<%= form_for(@bank, :remote => :true) do |f| %>
  
  <div id="error_explanation" title="Error Saving Bank" style="font-size:0.8em; display:none;">
    Error saving bank.<br />
    You need to fill out the <b>name</b>.
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => 'submitButton' %>
  </div>
<% end %>