<table class="itemsTable">
<thead>
<tr class="itemsTableHead">
	<th class="ithDelete"><b>Delete</b></th>
	<th class="ithDonor"><b>From</b></th>
	<th class="ithRecipient"><b>To</b></th>
	<th class="ithValue"><b>Value</b></th>
</tr>
</thead>
<tbody>
<% i = 0 %>
<% for @transfer in @transfers %>
	<% if i % 2 == 0 %>
		<tr class="itemRow even">
	<% else %>
		<tr class="itemRow odd">
	<% end %>
	<th class="itDelete">
	<%= link_to (@transfer, :remote => true, :confirm => 'Are you sure?', :method => :delete) do %>
		<button class="ui-state-default ui-corner-all" title=".ui-icon-trash">
		<span class="ui-icon ui-icon-trash"></span>
		</button>
	<% end %>
	</th>
	<th class="itDonor"><%= @transfer.donor.name %></th>
	<th class="itRecipient"><%= @transfer.recipient.name %></th>
	<th class="itValue"><%= number_to_currency(@transfer.value) %></th>
	</tr>
	<% i += 1 %>
<% end %>
</tbody>
</table>