<div class="accountName">
<%= @account.name %>
</div>

<div class="showExpenses">
Expenses<br />
<%= render :partial => 'expenses/show' %>
</div>

<div class="showEarnings">
Earnings <br />
<%= render :partial => 'earnings/show' %>
</div>